body{
  margin:0;
  font-family:sans-serif;
  background:linear-gradient(135deg,#0f172a,#1e3a8a,#0ea5e9);
  color:#fff;
}

header{
  text-align:center;
  padding:15px;
  background:linear-gradient(90deg,#111827,#1e40af);
}

header input{
  padding:8px 12px;
  border-radius:20px;
  border:none;
  outline:none;
}

header button{
  padding:8px 15px;
  border-radius:20px;
  border:none;
  background:linear-gradient(45deg,#22c55e,#3b82f6);
  color:#fff;
  cursor:pointer;
  transition:.3s;
}

header button:hover{
  transform:scale(1.1);
  box-shadow:0 0 10px #22c55e;
}

.container{
  display:flex;
  gap:20px;
  padding:20px;
}

#stockList{
  width:230px;
}

.stock-item{
  background:linear-gradient(45deg,#1e293b,#334155);
  padding:10px;
  margin-bottom:10px;
  border-radius:10px;
  cursor:pointer;
  transition:.3s;
}

.stock-item:hover{
  transform:scale(1.05);
  background:linear-gradient(45deg,#334155,#475569);
}

.middle{
  flex:1;
  text-align:center;
}

#stockDetails{
  background:linear-gradient(135deg,#1e293b,#0f172a);
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
}

.green{color:#22c55e;font-weight:bold;}
.red{color:#ef4444;font-weight:bold;}
canvas{
  background:transparent;
  box-shadow:none;
}
